
<h1>Eat Da Burger!</h1>

<h2>Delete Da Burger!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <button onclick="devourBurgerAction({{id}})">{{name}}</button>
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that are deleted!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>{{name}}</li>
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <button id="submit" type="submit">Add Burger</button>
</form>
<script type="text/javascript">
    $("#submit").on("click", function (event) {
        const userData = {
            name: $("#ca").val()
        };
        $.post("/api/burgers", userData, function (data) {

            location.reload();

        });
    });
    function devourBurgerAction(id) {
        $.ajax({
            url: `/api/burgers/${id}`,
            type: 'PUT',
            success: function(){location.reload();}
        });
    }
</script>